.ui-clock {
	font-size: 1.2em;
	/* font-family: sans-serif; */
	/* font-weight: lighter; */
	padding: 5px 19px;
	background: none;
	border: 0px;
	text-shadow: -2px -14px 0px #ffffff;
	color: rgb(151, 210, 200);
}

.top_bar {
    /* position: relative; */
    background-color: rgb(151, 210, 200);
    /* background-color: rgb(244, 240, 236); */
    padding: 0px;
    margin: 0px 0px 0px 0px;
    height: 40px;
}

.ui-datepicker {
    width: 19em;
}

.center_table {
 margin-left: auto;
 margin-right: auto;
}

.regist_button {
	width: 100%;
	padding: 10px;
	/* background-image: url(../img/logout.png) !important; */
	background-color: rgb(251, 222, 169);
	border-color: rgb(183, 131, 70);
	/* background-repeat: no-repeat; */
	color: rgb(153, 101, 20);
}

.logout_button {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
}

.top_logout_button {
	width: 40px;
	height: 40px;
	background-image: url(../img/logout.png);
	background-repeat: no-repeat;
}

.logout_icon {
	background-image: url(../img/logout.png) !important;
	background-repeat: no-repeat;
}

.align_left {
  text-align: left;
  float: left
}

.align_right {
  text-align: right;
}


.bottom_area {
	position: absolute;
	bottom: 0;
}

div.login_box{
	width: 700px;
	margin-left: auto;
 	margin-right: auto;
 	margin-top: 50px;
}

td.str_cell {
	text-align: center;
	width:15%;
}

td.week_cell {
	text-align: center;
	width:5%;
}

td.center {
	text-align: center;
}

th.header_color {
	background-color: rgb(231, 254, 254);
}

td.cell_color {
	background-color: rgb(249, 255, 255);
}

td.example3 { padding: 0 0 0 0; }

input[type="checkbox"]{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    /* background: url(../img/check_off.png); */
    background-size: contain;
}

input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/check_on6.png);
    background-size: 25px 25px;
}

input[type=radio] {
	position: absolute;
	z-index: -1;
}

input[type=radio] + label {
	display: block;
	min-height: 16px;
	padding: 7px 0 7px 40px;
	background: transparent url(../img/off.png) no-repeat scroll left center;
}

input[type=radio]:checked + label {
	background-image: url(../img/on.png);
}

#footer {
	border-top: solid 10px rgb(151, 210, 200);
	width: 100%;
	margin-left: auto;
 	margin-right: auto;
 	margin-top: 150px;
 	margin-bottom: auto;
	/* background-color: rgb(151, 210, 200); */
    /* height: 140px; */
}

.footer_line {
	border: none;
	height: 10px;
	width: 100%;
	background-color: rgb(151, 210, 200);
}

.footer_link {
	margin-top: 10px;
	padding-left: 15px;
	text-align: left;
 	float: left;
}

.footer_copyright {
	margin-top: 10px;
	padding-right: 15px;
	text-align: right;
 	float: right;
 	color: #075c74;
}

a.footer_linkstr {
	text-decoration: none;
	color: #075c74;
}